@import 'variables';

.page-about {

    .jumbotron {
        // background-color: $medium-red;
        margin-bottom: 0px;
        height: 100vh;
        padding: 20% 60% 20% 10%;

        // Background image & parallax scrolling
        // background-image: url("/build/images/headshot-background.png");
        background-image: url("/build/images/test.png");
        border-bottom: 2px solid $medium-blue;


        // opacity: 0.65;

        // position: relative;

        background-attachment: fixed;    // prevents image from scolling with the page
        background-position: center;    //centers the image
        background-repeat: no-repeat;
        background-size: cover; // scales the image to fill the window

        h1, h2 {
            font-family: Bitter-Regular;
        }

        p {
            margin-top: 8vh;
            font-family: Raleway-Regular
        }


    }

    .section-about {
        background-color: $black;
        // height: 320px;
        padding: 5vw 20vw 10vw 20vw;

        text-align: center;

        h2 {
            font-family: Raleway-Regular;
            color: $medium-blue;
            margin-bottom: 30px;
        }
        p {
            font-family: Bitter-Regular;
            color: $white;
        }
    }

    .section-portfolio {
        // background-color: $medium-blue;

        // Background image & parallax scrolling
        // background-image: url("/build/images/portfolio-background.jpg");

        background-attachment: fixed;    // prevents image from scolling with the page
        background-position: center;    //centers the image
        background-repeat: no-repeat;
        background-size: cover; // scales the image to fill the window


        padding: 5vw 5vw 10vw 5vw;

        text-align: center;

        h2 {
            font-family: Raleway-Regular;
            color: $medium-blue;
            margin-bottom: 30px;
        }
        p {
            font-family: Bitter-Regular;
            color: $gray;
        }


        .portfolio-grid {
          width: 90%;
          max-width: 1240px;
          margin: 0 auto;

          display: grid;

          grid-template-rows: auto;    //height will scale based on content
          grid-gap: 3vw;    //column and row gutters

          //For mobile
          grid-template-columns: 1fr;    //takes up the whole width on mobile

          // For tablet

          @media only screen and (min-width: $screen-md) {
            grid-template-columns: 1fr 1fr;
          }
          @media only screen and (min-width: $screen-lg) {
            grid-template-columns: repeat(3, 1fr);
          }

        }
    }

    .section-resume {
        background-color: $black;
        height: 400px;

        padding: 5vw 0vw;

        // text-align: center;

        h2 {
            font-family: Raleway-Regular;
            color: $medium-blue;
            margin-bottom: 20px;
        }
        p {
            font-family: Bitter-Regular;
            color: $gray;
            margin-bottom: 70px;
        }
    }

}
